#polarCanvas {
    display: block;
    width: 800px;
    height: 100%;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

body, html {
    margin: 0px;
    padding: 0px;
}

#stop_all {
    position: absolute;
    top: 10px;
    left: 10px;
}
