#polarCanvas {
    display: block;
    width: 1000px;
    height: 100%;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: #00004d !important;
}

div.ui-page {
    background-color: #00004d !important;
}

#intro {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    width: 600px;
    height: 800px;
    display: none;
}

#intro h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: 30px;
    left: 5px;
    text-transform: uppercase;
    font-weight: normal;
    color: whitesmoke;
    font-size: 30px;
    width: 400px;
    cursor: default;
}

#intro #bgimage {
    position: absolute;
    opacity: 0.2;
}

#intro #description {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: 80px;
    left: 160px;
    font-weight: normal;
    color: #999;
    font-size: 12px;
    width: 450px;
    cursor: default;
}

#intro #description p {
    cursor: default;
}

#intro #description a {
    text-decoration: none;
    color: #e6faff;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#intro #description a:hover {
    color: #00ccff;
}

#intro button {
    width: 200px;
}

#intro input {
    width: 200px;
}

