RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lights/$ lights.php [L,QSA]
RewriteRule ^lights/1/?$ lights.php?board=1 [L,QSA]
RewriteRule ^lights/2/?$ lights.php?board=2 [L,QSA]
RewriteRule ^lights/3/?$ lights.php?board=3 [L,QSA]
RewriteRule ^install/$  index.php?install=true [L,QSA]